@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  padding: 50px;
  font: 14px 'Indie Flower', cursive;
  background-color: #0facaa;
  color: black;
}

a {
  color: #00B7FF;
}
